<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>{{ page.title }}</title>

        <!--favicon-->
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!--latex-->
        <script src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="headerTop">
                    <h1><a href="/">Christian Maher</a></h1>
                    <nav>
                      <ul>
                        <!--<li class="view"><a href="/">home</a></li>-->
                        <!--<li class="view"><a href="/archives.html">archives</a></li>-->
                        <!--<li class="view"><a href="/reading.html">reading list</a></li>-->
                        <li>
                          <a href="https://github.com/cmaher">
                            <img class="social-icon" src="/images/github-icon.png" alt="github profile"/>
                          </a>
                          <a href="https://twitter.com/christiansmaher">
                            <img class="social-icon" src="/images/twitter-icon.png" alt="twitter profile"/>
                          </a>
                        </li>
                        <li>
                          <a href="/backbone.hoard">Backbone.Hoard</a>
                        </li>
                      </ul>
                    </nav>
                </div>
            </header>
            <div class="divider"></div>
            <section>
                {{ content }}
            </section>
            <footer>
            </footer>
        </div>
        <script src="/javascripts/scale.fix.js"></script>
        <script src="/javascripts/pages.js"> </script>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </body>
</html>
